@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
}
:root{
    --ColorPrincipal:#000;
    --ColorPrimario: #ffffff;
    --ColorSecundario:#1c2c3cc5;
    --ColorFondoCard:#232728;
}
.body{
    background-color: var(--ColorPrincipal);
    color: var(--ColorPrimario);
    padding: 0 60px;
}

/* Le doy al header espacios arriba y abajo, junto con un color de fondo */
.contenedorNav{
    background-color: var(--ColorPrincipal);
    padding: 10px 0;
}

/* Le doy un font-size a h1 del header */

.logo-star-wars{
    font-size: 25px;
}

.navegacion{
    color: var(--ColorPrimario);
}
.navegacion:hover{
    color: #ffffff;
    background-color: var(--ColorSecundario);
    border-radius: 8px;

}


.paginas{
    background-color: var(--ColorPrincipal);

}

/* COMIENZO CON EL MAIN */

/* COMIENZA LA SECTION UNO HERO */

.sectionUno-hero{
    width: 90vw;
    background-image: url("../img/imagen\ star\ wars\ 2.jpg");
    opacity: 0.7;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;


}

 /* Le doy un padding al conteneder del h1 y el buscador de la primer section(HERO) */
.H1-Buscador{
    height: 80vh;
    padding: 40px 70px 0 0;
}


.H1-Buscador h1{
    font-family: "Barlow", sans-serif;
    font-weight: 300;
    font-size: 40px;
}

/* Estilizo el input y el boton del buscador */
.formBuscador{
    border: solid rgb(75, 74, 74) 1px;
    width: 100%;
    height: 50px;
    background-color: #1c2c3cc5;
    padding: 5px;
    margin-top: 50px;
    border-radius: 6px;
    border: none;
    display: flex;
    align-items: center;

}
.inputBuscar{
    width: 100%;
    height: 100%;
    background-color: #1c2c3c00;
    font-size: 18px;
    color: #ffffff;
    padding: 8px 5px;
    border: none;
    outline: none; /* Quitar el borde de enfoque */
}

.BotonBuscar{
    background-color: #1c2c3c00;
    padding: 8px 10px;
    border-radius: 100%;
    border: none;
}
/* Estilizo el icono de busqueda */

.iconBuscador{
    color: #7e7b7b;
    font-size: 20px;
    margin: 0 5px;
}
/* equis del input */
#equis-input{
    color: #7e7b7b;
    font-size: 20px;
    margin: 0 5px;
    cursor: pointer;
    display: none;
}

/* Contenedor de sugerencias */
.sugerencias {
    position: absolute; /* Posición relativa al contenedor del buscador */
    background-color: #1c2c3c; /* Mismo color de fondo que el buscador */
    border: 1px solid rgb(75, 74, 74); /* Bordes similares a los del buscador */
    max-height: 200px; /* Máxima altura para el scroll */
    overflow-y: auto; /* Habilitar scroll si es necesario */
    z-index: 1000; /* Asegurarse de que se muestre encima de otros elementos */
    width: calc(42% - 20px); /* Ajuste del ancho para coincidir con el buscador */
    border-radius: 6px; /* Bordes redondeados para coincidir con el buscador */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidad */
    padding: 0; /* Eliminar padding por defecto */
    margin: 0; /* Eliminar margen por defecto */
}

/* Estilo de cada sugerencia */
.sugerencia {
    padding: 10px 15px; /* Espaciado interno similar al input */
    color: #ffffff; /* Color de texto para coincidir con el input */
    cursor: pointer; /* Cambia el cursor al pasar sobre la sugerencia */
    border-bottom: 1px solid rgb(75, 74, 74); /* Línea divisoria entre sugerencias */
}

/* Estilo de la última sugerencia sin borde inferior */
.sugerencia:last-child {
    border-bottom: none;
}

/* Cambio de fondo al pasar sobre la sugerencia */
.sugerencia:hover {
    background-color: #2a3a4a; /* Un poco más claro para indicar hover */
}


/* COMIENZO CON LA SECTION 2 */

.sectionDos h2{
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    padding: 20px 0px;
}
/* Centro las cards de las peliculas */
/* .cardPeli{
    margin: 15px;
    background-color: var(--ColorFondoCard);
    color: var(--ColorPrimario);
} */
 .contenedorPeliculas{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap-reverse;

 }

 /* estilizo la etiqueta div contenedora,h3 y p creadas en el js para las peliculas*/

 .contenedortarjetaPersonajes{
    flex-basis: 30%;
    padding: 18px;
    margin: 15px;
    border-radius: 10px;
    background-color: var(--ColorFondoCard);
    color: var(--ColorPrimario);

 }

 /* estilizo card de peliculas */

 .contenedortarjetaPersonajes h3{
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 22px;


 }
 .contenedortarjetaPersonajes h5{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 16px;
    text-align: end;
 }
 .contenedortarjetaPersonajes p{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 15px;
 }



/* COMIENZA SECTION 3 - PERSONAJES */

.sectionTres h2{
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    padding: 20px 0px;
}

.contenedorPersonajes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

/* Centro las cards de las personajes y estilizo */

.tarjetaPersonaje{
    margin: 10px;
    padding: 10px;
    flex-basis: 18%;
    border-radius: 10px;
    background-color: var(--ColorFondoCard);
    color: var(--ColorPrimario);
}
.tarjetaPersonaje h3{
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 22px;
}
.tarjetaPersonaje p{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 15px;
}


/* COMIENZA SECTION CUATRO */

.sectionCuatro h2{
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    padding: 20px 0px;
}

/* Estilizo el contenedor de las tarjetas de las naves */
.contenedorNaves{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
/* Estilizo las card de las naves */

.tarjetaNave{
    margin: 5px;
    padding: 18px;
    border-radius: 10px;
    flex-basis: 19%;
    background-color: var(--ColorFondoCard);
    color: var(--ColorPrimario);
}
.tarjetaNave h3{
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
    font-size: 22px;
    padding-bottom: 10px;
}

.tarjetaNave p{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 15px;

}


/* COMIENDO A ESTILIZAR SECTION CINCO - PLANETAS*/

.sectionCinco h2{
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    padding: 20px 0px;
}
/* Estilizo el contenedor de las tarjetas de los PLANETAS */

.contenedorPlanetas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


/* Estilizo las tarjetas de los PLANETAS */


.tarjetaPlaneta{
    margin: 5px;
    padding: 18px;
    border-radius: 10px;
    flex-basis: 19%;
    background-color: var(--ColorFondoCard);
    color: var(--ColorPrimario);
}

.tarjetaPlaneta h3{
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
    font-size: 22px;
    padding-bottom: 10px;
}
.tarjetaPlaneta p{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 15px;
}

/* COMIENDO A ESTILIZAR SECTION SEIS */
.sectionSeis{
    max-width: 80%;
}
.sectionSeis h2{
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    padding: 20px 0px;
}

.sectionSeis p{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 20px;
}

/* Estilizo el formulario de contacto */

.formularioDeContacto{
    padding: 15px 80px;
}

.formularioDeContacto label{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.formularioDeContacto input{
    font-family: "Roboto", sans-serif;
    border: solid rgb(75, 74, 74) 1px;
    font-size: 20px;
    background-color: #1c2c3c74;
    color: var(--ColorPrimario);
    padding: 8px 5px;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: none;
    outline: none


}

.formularioDeContacto textarea{
    font-family: "Roboto", sans-serif;
    border: solid rgb(75, 74, 74) 1px;
    font-size: 20px;
    background-color: #1c2c3c74;
    color: var(--ColorPrimario);
    padding: 8px 5px;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: none;
    outline: none;
}

.btnEnviar{
    font-family: "Roboto", sans-serif;
    border: solid rgb(75, 74, 74) 1px;
    font-size: 20px;
    background-color: #1c2c3c;
    color: var(--ColorPrimario);
    padding: 8px 5px;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: none;
    outline: none;
}
.btnEnviar:hover{
    background-color: #44596d;
}

#mensajeExito{
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}